body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

/* HEADER */
header {
    background: #14532d;
    color: white;
    text-align: center;
    padding: 30px;
}

/* MENU */
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background: #166534;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* HERO */
.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(#bbf7d0, #dcfce7);
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* CONTATO */
.contato {
    text-align: center;
    padding: 40px;
}

button {
    padding: 12px 20px;
    background: #15803d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* FOOTER */
footer {
    background: #14532d;
    color: white;
    text-align: center;
    padding: 20px;
}
